* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url("background.jpeg") no-repeat ;
  background-size: cover;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 800px) {
  .wrapper {
    top: 10%;
    transform: translate(-50%, 0%);
  }
}


.title {
  text-align: center;
}

.top_bar {
  width: 450px;
  max-width: 90vw;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_bar select {
  height: 60px;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(218, 216, 216);
  background-color: rgb(2, 69, 114);
  border-radius: 8px;
}

.repeat {
  height: 60px;
  width: 25%;
  max-width: 20vw;
  margin-left: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: rgb(95, 3, 3);
  border-radius: 8px;
}

.repeat label {
  font-size: 1.8rem;
}

.repeat input {
  transform: scale(1.7);
}

.main {
  width: 450px;
  max-width: 90vw;
  height: 400px;
  max-height: 50vh;
  margin: 10px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  transform-style: preserve-3d;
}

.card.flip {
  transition: 200ms;
  transform: perspective(2000px) rotateY(180deg);
}

.card .front,
.card .back {
  position: absolute;
  backface-visibility: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: auto 0;
  border-radius: 10px;
  font-size: 1.5rem;
  color: rgb(218, 216, 216);
  word-wrap: break-word;

}

.card .back p {
  margin-bottom: 20px;
}


.card .back {
  transform: rotateY(180deg);
  background-color: rgb(1, 64, 93);
  text-align: left;
  padding: 0 20px;
}

.card .front {
  background-color: rgb(0, 88, 84);
}

.next {
  width: 25%;
  height: 100%;
  margin-left: 5%;
  background-color: darkblue;
}

.clear_wrapper {
  margin: 0 auto;
  width: 450px;
  max-width: 90vw;
  height: 60px;
  display: flex;
  justify-content: center;
}

.clear_button {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgb(95, 3, 3);
}


button {
  color: white;
  border-radius: 10px;
  font-size: 1.1rem;
}

.card:hover,
button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px black;
}

button:active {
  transform: translate(2px, 2px);
}
