body {
  background-color: rgb(161, 189, 231);
}

.title {
  text-align: center;
}

.top_bar {
  width: 500px;
  max-width: 90vw;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_bar select {
  height: 60px;
  width: 65%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(218, 216, 216);
  background-color: rgb(2, 69, 114);
  border-radius: 8px;
}

.repeat {
  height: 60px;
  width: 25%;
  max-width: 20vw;
  margin-left: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: rgb(95, 3, 3);
  border-radius: 8px;
}

.repeat label {
  font-size: 1.8rem;
}

.repeat input {
  transform: scale(1.7);
}

.main {
  width: 500px;
  max-width: 90vw;
  margin: 10px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_wrapper {
  width: 65%;
}

.card {
  height: 400px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 700ms;
  transform-style: preserve-3d;
}

.card.flip {
  transition: 700ms;
  transform: perspective(2000px) rotateY(180deg);
}

.card .front,
.card .back {
  position: absolute;
  backface-visibility: hidden;
  text-align: center;
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.5rem;
  color: rgb(218, 216, 216);
  padding: 0 10px;
}


.card .back {
  transform: rotateY(180deg);
  background-color: rgb(1, 64, 93);
}

.card .front {
  background-color: rgb(0, 88, 84);
}

.next {
  width: 25%;
  height: 400px;
  margin-left: 5%;
  background-color: darkblue;
}

.clear_wrapper {
  margin: 0 auto;
  width: 475px;
  max-width: 90vw;
  height: 60px;
  display: flex;
  justify-content: center;
}

.clr {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgb(95, 3, 3);
}

button {
  color: white;
  border-radius: 10px;
  font-size: 1.1rem;
}

.card:hover,
button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px black;
}

button:active {
  transform: translate(2px, 2px);
}
